{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>件名</th>
            <th>詳細</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issue_list %}
        <tr>
            <td><a href="{% url 'backlogext:issue_detail' issue.pk %}">{{ issue.summary }}</a></td>
            <td>{{ issue.description }}</td>
            <td>
                <a href="{% url 'backlogext:issue_update' issue.pk %}">編集</a>
            </td>
            <td>
                <a href="{% url 'backlogext:issue_delete' issue.pk %}">削除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}